@font-face {
  font-family: 'ProximanovaBold';
  src: url('./fonts/32BE4A_0_0.eot?#iefix') format('embedded-opentype'),
  url('./fonts/32BE4C_0_0.woff2') format('woff2'),
  url('./fonts/32BE4C_0_0.woff') format('woff'),
  url('./fonts/32BE4C_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximanovaExtraBold';
  src: url('./fonts/32EE05_0_0.eot?#iefix') format('embedded-opentype'),
  url('./fonts/32EE05_0_0.woff2') format('woff2'),
  url('./fonts/32EE05_0_0.woff') format('woff'),
  url('./fonts/32EE05_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximanovaThin';
  src: url('./fonts/32EE05_2_0.eot?#iefix') format('embedded-opentype'),
  url('./fonts/32EE05_2_0.woff2') format('woff2'),
  url('./fonts/32EE05_2_0.woff') format('woff'),
  url('./fonts/32EE05_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximanovaLight';
  src: url('./fonts/32EE05_1_0.eot?#iefix') format('embedded-opentype'),
  url('./fonts/32EE05_1_0.woff2') format('woff2'),
  url('./fonts/32EE05_1_0.woff') format('woff'),
  url('./fonts/32EE05_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximanovaSemiBold';
  src: url('./fonts/32BE4A_2_0.eot?#iefix') format('embedded-opentype'),
  url('./fonts/32BE4C_2_0.woff2') format('woff2'),
  url('./fonts/32BE4C_2_0.woff') format('woff'),
  url('./fonts/32BE4C_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximanovaRegular';
  src: url('./fonts/32BE4A_1_0.eot?#iefix') format('embedded-opentype'),
  url('./fonts/32BE4C_1_0.woff2') format('woff2'),
  url('./fonts/32BE4C_1_0.woff') format('woff'),
  url('./fonts/32BE4C_1_0.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: 1s;
}

.fade-enter-active {
  transition-delay: 1s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  * {  transition: none !important  }
}

body {
  margin: 0;
}


