$layoutWidth: 2880;

/*** COLORS ***/
$blue: #00c6ff;
$grayBoldFont: #a9a9a9;
$grayThinFont: #e8e8e8;
$grayBackground: #f7f7f7;
$black: #000000;
$red: #ff0012;
$green: #00a651;
$primary: #2d8cf0;
$lightPrimary: #5cadff;
$darkPrimary: #2b85e4;
$info: #2d8cf0;
$success: #19be6b;
$warning: #ff9900;
$error: #ed3f14;
$disabled: #bbbec4;
$border: #dddee1;
$divider: #e9eaec;
$background: #f8f8f9;
