$layoutWidth: 2880;

/*** COLORS ***/
$blue: #00c6ff;
$grayBoldFont: #a9a9a9;
$grayThinFont: #e8e8e8;
$grayBackground: #f7f7f7;
$black: #000000;
$color-2: #0c0e11;
$color-3: #d0d0d0;
$red: #ff0012;
$green: #00a651;
